@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('assets/fonts/MPLUSRounded1c-Bold.woff2') format('woff2'),
    url('assets/fonts/RoundedMplus1c-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('assets/fonts/MPLUSRounded1c-Medium.woff2') format('woff2'),
    url('assets/fonts/RoundedMplus1c-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('assets/fonts/MPLUSRounded1c-Regular.woff2') format('woff2'),
    url('assets/fonts/RoundedMplus1c-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #f9f9fb;
  min-width: 320px;
  font-family: 'M PLUS Rounded 1c';
}
